body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.main-min-vh {
  min-height: 60vh;
}

.responsive-iframe {
  position: relative;

  width: 100%;
  
}

.bg-it-3 {
  background-color: #6b65e0;
}

@media (min-width: 992px){
 .bg-spostamento {
    background-image: url(img/cane.jpg);
    background-position: right 16px top 45px;
    background-repeat: no-repeat;
    background-size: 545px !important;
    
}
}